::ng-deep .ql-toolbar {
  @apply bg-gray-100 flex justify-center text-foreground px-2 py-3 rounded-t-xl border border-gray-400 flex-wrap gap-2.5 !important;
}

::ng-deep .ql-toolbar button {
  @apply mx-1 rounded-md w-10 h-10 p-2 !important;
}

::ng-deep .ql-toolbar button:hover {
  @apply mx-1 rounded-md bg-gray-200 !important;
}

::ng-deep .ql-toolbar button svg .ql-fill {
  @apply fill-foreground;
}

::ng-deep .ql-toolbar button svg .ql-stroke {
  @apply stroke-foreground;
}

::ng-deep .ql-toolbar button:hover svg .ql-stroke {
  @apply stroke-gray-500 !important;
}

::ng-deep .ql-toolbar button:hover svg .ql-fill {
  @apply fill-gray-500 !important;
}

::ng-deep .ql-container {
  @apply border border-gray-400 rounded-b-xl;
}

::ng-deep .ql-picker-item {
  @apply bg-gray-200 text-foreground rounded-md px-2;
}

::ng-deep .ql-picker-item:hover {
  @apply bg-gray-300 text-foreground  !important;
}

/*::ng-deep .ql-font {*/
/*  @apply bg-background rounded-lg;*/
/*}*/

::ng-deep .quill-wrapper .ql-picker-options {
  @apply bg-gray-200 rounded-lg p-2.5 mt-4 !important;
}

::ng-deep .quill-wrapper .ql-align .ql-picker-options {
  @apply py-2 px-2.5;
}

::ng-deep .ql-picker-label svg .ql-fill {
  @apply fill-foreground;
}

::ng-deep .ql-picker-label svg .ql-stroke {
  @apply stroke-foreground;
}

::ng-deep .ql-picker-label:hover svg .ql-stroke {
  @apply stroke-gray-500 !important;
}

::ng-deep .ql-picker-label:hover svg .ql-fill {
  @apply fill-gray-500 !important;
}

::ng-deep .ql-picker-label {
  @apply text-foreground rounded-lg min-w-10 h-10 p-2 !important;
}

::ng-deep .ql-picker-label.ql-active {
  @apply bg-gray-200 border-none !important;
}

/*::ng-deep .ql-picker-label.ql-active::before {*/
/*  color: yellow;*/
/*}*/

::ng-deep .ql-picker-label:hover {
  @apply bg-gray-200 text-gray-500  !important;
}

/*::ng-deep .ql-picker-label:focus {*/
/*  color: orange !important;*/
/*}*/

::ng-deep .ql-font .ql-picker-label svg .ql-stroke {
  @apply stroke-none;
}

::ng-deep .ql-size .ql-picker-label svg .ql-stroke {
  @apply stroke-none;
}

::ng-deep .ql-font:hover .ql-picker-label svg .ql-stroke {
  @apply stroke-none !important;
}

::ng-deep .ql-size:hover .ql-picker-label svg .ql-stroke {
  @apply stroke-none !important;
}

::ng-deep .ql-color {
  @apply mr-6;
}

::ng-deep .ql-editor.ql-blank::before {
  @apply text-foreground;
}

::ng-deep .ql-picker.ql-size .ql-picker-label::before {
  content: attr(data-label);
}

::ng-deep .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before,
::ng-deep .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before{
  content: "14px";
}

::ng-deep .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before,
::ng-deep .ql-picker.ql-size .ql-picker-label[data-value="18px"]::before{
  content: "18px";
}

::ng-deep .ql-picker.ql-size .ql-picker-item[data-value="22px"]::before,
::ng-deep .ql-picker.ql-size .ql-picker-label[data-value="22px"]::before {
  content: "22px";
}
