<section class="flex flex-col gap-4">
  <div class="overflow-x-auto">
    <hlm-table class="min-w-[800px] table-fixed">
      <hlm-trow>
        <hlm-th class="px-4 py-2 w-[15%]">Order Nr.</hlm-th>
        <hlm-th class="px-4 py-2 w-[20%]">
          <span>Product</span>
          <ng-icon
            hlm
            class="ml-3 cursor-pointer"
            size="sm"
            name="lucideArrowUpDown"
            (click)="sortByColumn('product')"
          />
        </hlm-th>
        <hlm-th class="px-4 py-2 w-[20%]">
          <span>Category</span>
          <ng-icon
            hlm
            class="ml-3 cursor-pointer"
            size="sm"
            name="lucideArrowUpDown"
            (click)="sortByColumn('category')"
          />
        </hlm-th>
        <hlm-th class="px-4 py-2 w-[15%]">
          <span>Quantity</span>
          <ng-icon
            hlm
            class="ml-3 cursor-pointer"
            size="sm"
            name="lucideArrowUpDown"
            (click)="sortByColumn('quantity')"
          />
        </hlm-th>
        <hlm-th class="px-4 py-2 w-[15%]">
          <span>Total Price</span>
          <ng-icon
            hlm
            class="ml-3 cursor-pointer"
            size="sm"
            name="lucideArrowUpDown"
            (click)="sortByColumn('totalPrice')"
          />
        </hlm-th>
        <hlm-th class="px-4 py-2 w-[15%]">
          <span>Delivery Status</span>
          <ng-icon
            hlm
            class="ml-3 cursor-pointer"
            size="sm"
            name="lucideArrowUpDown"
            (click)="sortByColumn('deliveryStatus')"
          />
        </hlm-th>
      </hlm-trow>

      @for (entry of _filteredSortedPaginatedEntries$ | async; track $index) {
        <hlm-trow>
          <hlm-td class="px-4 py-4 w-[15%]">{{ entry.orderNr }}</hlm-td>
          <hlm-td class="px-4 py-4 w-[20%]">{{ entry.product }}</hlm-td>
          <hlm-td class="px-4 py-4 w-[20%]">{{ entry.category }}</hlm-td>
          <hlm-td class="px-4 py-4 w-[15%]">{{ entry.quantity }}</hlm-td>
          <hlm-td class="px-4 py-4 w-[15%]">{{
              entry.totalPrice | currency
            }}</hlm-td>
          <hlm-td class="px-4 py-4 w-[15%]">{{ entry.deliveryStatus }}</hlm-td>
        </hlm-trow>
      }
    </hlm-table>
  </div>
  <app-paginator
    [totalElements]="(_totalElements$ | async) || 0"
    [pageSize]="(pageSize$ | async) || 5"
    [currentPage]="(currentPage$ | async) || 1"
    [availablePageSizes]="availablePageSizes"
    (pageChange)="goToPage($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  />
</section>
